body {
    margin: 0;
    padding: 0 25%;
    background: #2D7ED9;
    color: azure;
    font-family:'Kanit', sans-serif;}
.content {
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    font-size: 55px;
}
ul li {
    margin: 15px;
}
ul li ul li {
    margin: 2px;
}
